<div class="grid">
    <div class="col-12 md:col-12 lg:col-12 sm:col-12">
        <div class="card">
            <div class="tabledata">
                <div class="grid">
                    <div class="col-12 lg:col-6">
                        <h3 class="Title font-bold">Student Details</h3>
                    </div>
                    <div class="col-12 lg:col-6" style="place-content: center;display: grid;justify-content: flex-end;">
                        <div class="text-right">
                            <button pButton pRipple label="Add" (click)="showBasicDialog()" icon="pi pi-plus"
                                iconPos="left" styleClass="p-button-sm" class="btndata text-white"></button>
                        </div>
                    </div>
                </div>
                <p-table #dt1 [value]="studentInfo" [paginator]="true" [alwaysShowPaginator]="true" [scrollable]="true"
                    [rows]="changePerPagenumber" dataKey="id" styleClass="p-datatable-gridlines p-datatable-sm"
                    [tableStyle]="{ 'min-width': '60rem' }" editMode="row" [globalFilterFields]="['firstName','email','mobilenumber',
                        'dob','address','imageFilePath','role']"
                    responsiveLayout="scroll">
                    <ng-template pTemplate="caption">
                        <div class="grid m-0">
                            <div class="col-12 lg:col-8">
                                <input type="text" pInputText placeholder="Search Results" class="filters p-inputtext-sm"
                                    (input)="dt1.filterGlobal(getTableValue($event),'contains')" />
                            </div>
                            <div class="col-12 lg:col-4">
                                <div class="grid m-0">
                                    <div class="field col-12 md:col-6 lg:col-8">
                                    </div>
                                    <div class="col-12 lg:col-3">
                                        <p-dropdown [options]="pageSizes" (onChange)="changePerPage($event)"
                                            [ngStyle]="{'float':'right'}" optionLabel="text"></p-dropdown>
                                    </div>
                                    <div class="col-12 lg:col-1">
                                        <i class="pi pi-cog  mt-2 cursor-pointer Table_header
                                    text-2xl" pTooltip="Hide & Show Columns" tooltipPosition="left"
                                            (click)="op.toggle($event)">
                                            <p-overlayPanel #op [style]="{width:
                                        '270px',height:'300px',overflowY:'scroll'}">
                                                <ng-template pTemplate>

                                                    <h4 class="m-0">Hide / Show Columns</h4>
                                                    <hr>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="serialNo" value="serialNo" inputId="serialNo"
                                                            [binary]="true" [(ngModel)]="serialNo"></p-checkbox>
                                                        <label for="serialNo">S.No</label>
                                                    </div>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="names" value="names" inputId="names"
                                                            [binary]="true" [(ngModel)]="names"></p-checkbox>
                                                        <label for="names">Name</label>
                                                    </div>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="systemNumbers" [binary]="true"
                                                            [(ngModel)]="systemNumbers" value="systemNumbers"
                                                            inputId="systemNumbers"></p-checkbox>
                                                        <label for="systemNumbers">System Number</label>
                                                    </div>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="ipAddresss" [binary]="true"
                                                            [(ngModel)]="ipAddresss" value="ipAddresss"
                                                            inputId="ipAddresss"></p-checkbox>
                                                        <label for="ipAddresss">ipAddress</label>
                                                    </div>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="systemNames" [binary]="true"
                                                            [(ngModel)]="systemNames" value="systemNames"
                                                            inputId="systemNames"></p-checkbox>
                                                        <label for="systemNames">System Name</label>
                                                    </div>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="rams" [binary]="true" [(ngModel)]="rams"
                                                            value="rams" inputId="rams"></p-checkbox>
                                                        <label for="rams">RAM</label>
                                                    </div>
                                                   
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="processors" value="processors"
                                                            inputId="processors" [binary]="true"
                                                            [(ngModel)]="processors"></p-checkbox>
                                                        <label for="processors">processor</label>
                                                    </div>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="osTypes" [binary]="true" [(ngModel)]="osTypes"
                                                            value="osTypes" inputId="osTypes"></p-checkbox>
                                                        <label for="osTypes">OSType</label>
                                                    </div>
                                                    <div class="field-checkbox">
                                                        <p-checkbox name="action" [binary]="true" [(ngModel)]="action"
                                                            value="action" inputId="action"></p-checkbox>
                                                        <label for="action">Action</label>
                                                    </div>
                                                </ng-template>
                                            </p-overlayPanel>
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center">S.No</th>
                            <th class="text-center" *ngIf="names" pSortableColumn="names">
                                Name <p-sortIcon field="names"></p-sortIcon>
                            </th>
                            <th pSortableColumn="systemNumbers" *ngIf="systemNumbers" class="text-center">System Numbers
                                <p-sortIcon field="systemNumbers"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ipAddresss" *ngIf="ipAddresss" class="text-center">IP Address<p-sortIcon
                                    field="ipAddresss"></p-sortIcon>
                            </th>
                            <th pSortableColumn="systemNames" *ngIf="systemNames" class="text-center">System Name
                                <p-sortIcon field="systemNames"></p-sortIcon>
                            </th>
                            <th pSortableColumn="rams" *ngIf="rams" class="text-center">Ram
                                <p-sortIcon field="rams"></p-sortIcon>
                            </th>
                            <th pSortableColumn="processors" *ngIf="processors" class="text-center">Processors
                                <p-sortIcon field="processors"></p-sortIcon>
                            </th>
                            <th pSortableColumn="osTypes" *ngIf="osTypes" class="text-center">OS Type
                                <p-sortIcon field="osTypes"></p-sortIcon>
                            </th>
                            <th pSortableColumn="action" *ngIf="action" class="text-center">Actions<p-sortIcon
                                    field="action"></p-sortIcon>
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex" let-rowNode
                        let-rowData="rowData" let-i let-columns="columns">
                        <tr [pEditableRow]="product">
                            <td>{{ri+1}}</td>
                            <td *ngIf="names">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" name="firstName" [(ngModel)]="product.name">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="systemNumbers">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="systemNumber" name="systemNumber" [(ngModel)]="product.systemNumber">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.systemNumber}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="ipAddresss">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="number" name="ipAddress"
                                            [(ngModel)]="product.ipAddress">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.ipAddress}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="systemNames">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="number" name="ipAddress"
                                            [(ngModel)]="product.ipAddress">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.systemName}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="rams">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" name="ram"
                                            [(ngModel)]="product.ram">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.ram}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="processors">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" name="processor" [(ngModel)]="product.processor">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.processor}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="osTypes">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" name="osType" [(ngModel)]="product.osType">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.osType}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="action">
                                <div class="flex align-items-center
                            justify-content-center gap-2">
                                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                        icon="pi pi-pencil" (click)="onRowEditInit(product.id,product)"
                                        tooltipStyleClass="tooltips" pTooltip="Edit" tooltipPosition="bottom"
                                        class="p-button-rounded p-button-text"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                        pTooltip="Save" tooltipPosition="bottom" icon="pi pi-check"
                                        (click)="updateUserdata(product)" class="p-button-rounded p-button-text
                                p-button-success mr-2"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                        pTooltip="Cancel" tooltipPosition="bottom" icon="pi pi-times"
                                        (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text
                                p-button-danger"></button>
                                    <button pButton *ngIf="!editing" pRipple type="button" pCancelEditableRow
                                        icon="pi pi-trash" tooltipStyleClass="tooltips" pTooltip="Delete"
                                        tooltipPosition="bottom" (click)="confirmSubmit(product.stayDetailId)" class="p-button-rounded p-button-text
                                p-button-danger"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center
                            justify-content-between">
                            <p class="m-0 footer">{{ dt1.totalRecords }} Records
                                Found.</p>
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Add Student Details" [maximizable]="true" [(visible)]="displayBasic" [style]="{width: '80vw'}"
    [modal]="true" appendTo="body" [draggable]="false" [resizable]="false">
    <form #b="ngForm" name="form">
        <div class="grid pt-2">
            <div class="col-12 lg:col-4 md:col-4 mb-2 relative">
                <div class="field m-0 w-full">
                    <label for="integeronly">Name :</label>
                    <input pInputText name="name" #name="ngModel" [(ngModel)]="modelStay.name"
                        class="w-full form-control p-inputtext-sm">
                </div>

            </div>

            <div class="col-12 lg:col-4 md:col-4 mb-2 relative">
                <div class="field m-0 w-full ">
                    <div class="field m-0 w-full">
                        <label for="integeronly">System Number :</label>
                        <input pInputText name="systemNumber" #systemNumber="ngModel" [(ngModel)]="modelStay.systemNumber"
                            class="w-full form-control p-inputtext-sm">
                    </div>
                </div>

            </div>

            <div class="col-12 lg:col-4 md:col-4 mb-2 relative">
                <div class="field m-0 w-full ">
                    <div class="field m-0 w-full">
                        <label for="integeronly">IP Address :</label>
                        <input pInputText name="ipAddress" #ipAddress="ngModel" [(ngModel)]="modelStay.ipAddress"
                            class="w-full form-control p-inputtext-sm">
                    </div>
                </div>
            </div>

            <div class="col-12 lg:col-4 md:col-4 mb-2 relative">
                <div class="field m-0 w-full ">
                    <div class="field m-0 w-full">
                        <label for="integeronly">System Name :</label>
                        <input type="text" pInputText name="systemName" #systemName="ngModel"
                            [(ngModel)]="modelStay.systemName" class="w-full form-control p-inputtext-sm">
                    </div>
                </div>
            </div>


            <div class="col-12 lg:col-4 md:col-4 mb-2">
                <div class="field m-0 w-full">
                    <label for="integeronly">ROM :</label>
                    <input type="text" pInputText name="ram" #ram="ngModel"
                        [(ngModel)]="modelStay.ram" class="w-full form-control p-inputtext-sm">
                </div>
            </div>

            <div class="col-12 lg:col-4 md:col-4 mb-2 relative">
                <div class="field m-0 w-full ">
                    <label for="dob">Processor :</label>
                    <input type="text" pInputText name="processor" #processor="ngModel"
                    [(ngModel)]="modelStay.processor" class="w-full form-control p-inputtext-sm">
                </div>
            </div>

            <div class="col-12 lg:col-4 md:col-4 mb-2 relative">
                <div class="field m-0 w-full">
                    <label for="supportNo">OS Type</label>
                    <input [(ngModel)]="modelStay.osType" name="osType" id="inputtext" class="w-full
                        form-control p-inputtext-sm" #osType="ngModel" [required]="true" pInputText>
                </div>

            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button class="pr-3 btndatas p-button-secondary" label="Cancel"
            styleClass="p-button-secondary p-button-sm" (onClick)="b.reset({});staydetailsreset()">
        </p-button>
        <p-button type="button" (onClick)="Submit(modelStay);b.reset({})" [disabled]="b.invalid?true:false"
            styleClass="p-button-sm" label="Submit"></p-button>
    </ng-template>
</p-dialog>
